{% extends 'AppBundle::Common/template.html.twig' %}

{% block page_header %}
    {% include('AppBundle:Common:header.html.twig') %}
{% endblock %}

{% block page_footer %}
    {% include('AppBundle:Common:footer.html.twig') %}
{% endblock %}


{% block page_content %}
<!-- Content starts -->
	
<div class="container-fluid content-breather-small" id="sub-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Store Sections</h4>
            </div><!-- End of column one -->
			
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    {% for category in categories %}
                        <li><a href="javascript:void(0)" onclick="getProduct({{category['id']}});" >{{category['name']}}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- End of column two -->
        </div><!-- End of row -->	
    </div><!-- End of container -->
</div><!-- End of fluid container -->

<br>
{#{dump(products)}#}
<div class="container-fluid no-gutter">

    <div id="page_body">
        {% include('AppBundle:Catalog:product_list.html.twig') %}
    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function getProduct(id){
            $.ajax({
                type: "POST",
                url: '{{path('app_product_list') }}',
                data: 
                { 
                    category_id:id 
                },

                success: function (data)
                {
                    $("#page_body").html(data);
                },
                error: function ()
                {
                    alert('error' );
                }
            });
        }

        $(document).ready(function () {
        });
    </script>
{% endblock %}

