{% extends 'AppBundle::Common/template.html.twig' %}

{% block page_header %}
    {% include('AppBundle:Common:header.html.twig') %}
{% endblock %}

{% block page_footer %}
    {% include('AppBundle:Common:footer.html.twig') %}
{% endblock %}

{% block page_content %}
<!-- Content starts -->
	
<div class="container-fluid content-breather-small" id="sub-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4></h4>
            </div><!-- End of column one -->
			
        </div><!-- End of row -->	
    </div><!-- End of container -->
</div><!-- End of fluid container -->

<div class="container-fluid no-gutter">

    <div id="page_body">
        Home Page
    </div>

</div>

{% endblock %}

