<!DOCTYPE html>
     <head>
        <meta charset="utf-8">
       	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Client Application</title>
        
        <!-- Meta tags -->
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
			
            <link rel="stylesheet" href="{{asset('bundles/app/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/app/css/my_style.css')}}">

        <!-- Jquery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        {% block head %}{% endblock %}        
    </head>

    <body>

        <div > <!-- Start of global wrapper -->

            <!-- Header -->
            {% block page_header %}
                <p>The "page_header" block</p>
            {% endblock %}

            <!-- Content Start -->
            {% block page_content %}
                <p>The "page_content" block</p>
            {% endblock %}
            <!-- Content Ends -->

	    <br />

            <!-- Footer -->
            {% block page_footer %}
                <p>The "page_footer" block</p>
            {% endblock %}

        </div> <!-- End of main container element -->


       {% block javascripts %}{% endblock %}

    </body>
</html>

